nav .brand-logo {
	padding-left: 1%;
}

.menu{
	background-color: #3399ff;
}

.input-field select {
    display: block;
    position: relative;
    width: 100%;
    pointer-events: fill;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 100;
}