<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8"/>
		<title>Boletim</title>
		<!--Import Google Icon Font-->
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      <!--Import materialize.css-->
	      <link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css"  media="screen,projection"/>
	
	      <!--Let browser know website is optimized for mobile-->
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	      <link rel="stylesheet" href="../../style/styleCss.css"/>
	</head>
	<body>
	
		<header>
		
			<nav class="menu">
				<div class="nav-wrapper">
			    	<a th:href="@{/notas}" class="brand-logo">Boletim</a>
			      	<ul id="nav-mobile" class="right hide-on-med-and-down">
			      		<li><a th:href="@{/notas}">Notas</a></li>
			        	<li><a th:href="@{/notas/nova-nota}">Nova nota</a></li>
			        	<li><a th:href="@{/logout}">Sair</a></li>
			      	</ul>
			    </div>
			 </nav>
			
		</header>
		
		<br>
				
		<div class="container form">
			<h5>Editar nota</h5>
		
			<form class="container" method="post">
				
				<div class="row">
				
					<div class="input-field col s10">
						Matéria: <input type="text" th:value="${nota.materia}" name="materia"/>
					</div>
									
					<div class="input-field col s2">
						Nota: <input type="number" th:value="${nota.nota}" name="nota"/>
					</div>
					
				</div>
				
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
			
			</form>
					
		</div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	    <script type="text/javascript" src="../../materialize/js/materialize.min.js"></script>
	    	    
	</body>


</html>