<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8"/>
		<title>Matérias</title>
		<!--Import Google Icon Font-->
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      <!--Import materialize.css-->
	      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	
	      <!--Let browser know website is optimized for mobile-->
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	      <link rel="stylesheet" href="style/styleCss.css"/>
	</head>
	<body>
	
		<header>
			<nav class="menu">
			    <div class="nav-wrapper">
			      <a href="#" class="brand-logo">Login</a>
			    </div>
			</nav>
		
		</header>
		
		
		<!-- <th:block th:include="mensagemValidacao"></th:block> -->
		<div class="container formLogin">
		
			<form class="container" method="post">
				Login: <input type="text" value="" name="login"/>
				Senha: <input type="password" value="" name="senha"/>
				<button class="waves-effect waves-light btn" type="submit">Login</button>
			
			</form>
		
		</div>
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	    
	</body>


</html>